<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizadmindoancs2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quiz"
        android:label="Admin Exam"
        android:roundIcon="@mipmap/quiz"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizAdminDoAnCs2">
        <activity
            android:name=".UpdateQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".BeginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>